* {
    box-sizing: border-box;
}

body {
    background: #ccc;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
}

.main-content {
    background: white;
    width: 700px;
    margin: 0 auto;
    padding: 20px;
}

h1 {
    text-align: center;
    font-size: 2em;
    margin-bottom: 20px;
}

h2 {
    margin-top: 10px;
    margin-bottom: 5px;
}

h3 {
margin: 1px;
color: #fff;
padding: 3px 10px;
cursor: pointer;
position: relative;
background-color:black;
transition: background .4s;
}

p.active {
    padding: 10px 0;
}

.collapse {
margin: 0;
padding: 0;
width: 100%;
}
